{% if anyOf | length %}
	<dt>Types:</dt>
	{% for anyOfRef in anyOf %}
		<dd>
			<article>
				{% set anyOfDoc = anyOfRef | docFromRef %}
				<p>
					<em>{% renderFile "./_includes/doc-link.njk", anyOfDoc %}</em> —
					<code>{% renderFile "./_includes/doc-type.njk", anyOfDoc %}</code>
				</p>
				{% renderFile "./_includes/doc-summary.njk", anyOfDoc %}
			</article>
		</dd>
	{% endfor %}
{% endif %}
