{% if doc.anyOf | length %}
	<h2>Types</h2>

	{% for propDoc in doc.anyOf %}
		<article>
			{% set docPage = propDoc | getDocPage %}

			{% if docPage %}
				{% set propDoc = docPage.doc %}
			{% endif %}

			<p>
				{% if docPage.url %}
					<em><a href="{{ docPage.url }}">{{ docPage.title }}</a></em>
				{% else %}
					{% renderFile "./_includes/doc-type.njk", docPage %}
				{% endif %}
			</p>

			{% renderFile "./_includes/doc-summary.njk", docPage %}
{#
			<details>
				<summary>Details</summary>
				{% renderFile "./_includes/doc-page.njk", docPage %}
			</details> #}
		</article>
	{% endfor %}
{% endif %}
