{% if items | length %}
	<dt>Items:</dt>
	{% for itemRef in items %}
		<dd>
			<article>
				{% set itemDoc = itemRef | docFromRef %}
				<p>
					{% if itemDoc.url %}
						<em><a href="{{ itemDoc.url }}">{{ itemDoc.title | default(itemDoc.key, true) }}</a></em> —
					{% endif %}

					<code>{% renderFile "./_includes/doc-type.njk", itemDoc %}</code>
				</p>
				{% renderFile "./_includes/doc-summary.njk", itemDoc %}
			</article>
		</dd>
	{% endfor %}

	{% if uniqueItems %}
		<dd><p>All items must be unique.</p></dd>
	{% endif %}
{% endif %}
