{% if doc.default %}
	<h2>Default value</h2>
	<p><code>{{ doc.default }}</code></p>
{% endif %}

{% if doc.enum | length %}
	<h2>Allowed values</h2>
	<ul>
		{% for value in doc.enum %}
			<li><code>{{ value }}</code></li>
		{% endfor %}
	</ul>
{% endif %}
