<ul>
	{% for anyOfRef in propDoc.anyOf %}
		{% set anyOfDoc = anyOfRef | docFromRef %}
		{% if anyOfDoc.url == doc.url %}
			<li>
				<span class="icon">&bull;</span>
				<span>{% renderFile "./_includes/doc-label.njk", anyOfDoc %}</span>
			</li>
		{% elif anyOfDoc.url %}
			<li>
				<span class="icon">&bull;</span>
				{% renderFile "./_includes/doc-link.njk", anyOfDoc %}
			</li>
		{% endif %}
	{% endfor %}
</ul>
