<ul>
	{% for innerKey, innerPropRef in propDoc.properties %}
		{% set innerPropDoc = innerPropRef | docFromRef %}
		{% if innerPropDoc.url == doc.url %}
			<li>
				<span class="icon flip-x">&crarr;</span>
				<code>{{ innerKey }}</code>
			</li>
		{% elif innerPropDoc.url %}
			<li>
				<span class="icon flip-x">&crarr;</span>
				<a href="{{ innerPropDoc.url }}"><code>{{ innerKey }}</code></a>
			</li>
		{% endif %}
	{% endfor %}

	{% for additionalPropRef in propDoc.additionalProperties %}
		{% set additionalPropDoc = additionalPropRef | docFromRef %}
		{% if additionalPropDoc.url == doc.url %}
			<li>
				<span class="icon">&searr;</span>
				<span>{% renderFile "./_includes/doc-label.njk", additionalPropDoc %}</span>
			</li>
		{% elif additionalPropDoc.url %}
			<li>
				<span class="icon">&searr;</span>
				{% renderFile "./_includes/doc-link.njk", additionalPropDoc %}
			</li>
		{% endif %}
	{% endfor %}

	{% if propDoc.additionalProperties | length == 1 %}
		{% set propDoc = propDoc.additionalProperties[0] | docFromRef %}
		{% if propDoc.anyOf | length %}
			<li>{% include "nav/any-of.njk" %}</li>
		{% endif %}
	{% endif %}
</ul>
