{% if doc.description %}
	{{ doc.description | default('') | renderContent('md') | safe }}
{% endif %}

{% if doc.documentation.examples | length %}
	<details open>
		<summary><strong>Examples</strong></summary>
		{% for example in doc.documentation.examples %}
			<pre><code>{{ example }}</code></pre>
		{% endfor %}
	</details>
{% endif %}

{% if doc.default %}
	<p>Defaults to: <code>{{ doc.default }}</code></p>
{% endif %}

{% set maxLength = 10 %}
{% set enumLength = maxLength if doc.enum.length > maxLength else doc.enum.length %}
{% if enumLength %}
	<p>
		Allowed values:
		{% for i in range(0, enumLength) %}
			<code>{{ doc.enum[i] }}</code>
		{% endfor %}

		{% set enumMore = doc.enum.length - enumLength %}
		{% if enumMore %}and {{ enumMore }} more.{% endif %}
	</p>
{% endif %}
