{%- if url and title -%}
	<a href="{{ url }}">{{ title }}</a>
{%- elif type == "array" -%}
	Array
	{%- if items | length -%}
		{%- set join = joiner(" | ") -%}
		<span style="opacity: 0.5;">&lt;</span>
		{%- for itemRef in items -%}
			{{- join() -}}
			{%- set itemDoc = itemRef | docFromRef -%}
			{%- renderFile "./_includes/doc-type-nested.njk", itemDoc -%}
		{%- endfor -%}
		<span style="opacity: 0.5;">&gt;</span>
	{%- endif -%}
{%- elif type == "object" -%}
		Object
		{%- if additionalProperties.length == 1 -%}
			{%- set additionalPropDoc = additionalProperties[0] | docFromRef -%}
			<span style="opacity: 0.5;">&lt;</span>
			{%- renderFile "./_includes/doc-type-nested.njk", additionalPropDoc -%}
			<span style="opacity: 0.5;">&gt;</span>
		{%- endif -%}
{%- elif type == "string" -%}
	{%- if const -%}"{{ const }}"{%- else -%}string{%- endif -%}
{%- elif type == "number" or type == "integer" -%}
	{%- if const or const == 0 -%}{{ const }}{%- else -%}number{%- endif -%}
{%- elif type == "boolean" -%}
	{%- if const or const == false -%}{{ const }}{%- else -%}boolean{%- endif -%}
{%- elif anyOf | length -%}
	{%- set join = joiner(" | ") -%}
	{%- for anyOfRef in anyOf -%}
		{{- join() -}}
		{%- set anyOfDoc = anyOfRef | docFromRef -%}
		{%- renderFile "./_includes/doc-type-nested.njk", anyOfDoc -%}
	{%- endfor -%}
{%- elif type == "null" -%}
	null
{%- elif type == "date" -%}
	date
{%- elif title -%}
	{{ title }}
{%- else -%}
	unknown
{%- endif -%}
