{% if url %}
	<a href="{{ url }}">
		{%- if title -%}
			{{ title }}
		{%- else -%}
			<code>{{ full_key }}</code>
		{%- endif -%}
	</a>
{%- elif title -%}
	{{ title }}
{%- else -%}
	<code>{{ full_key }}</code>
{%- endif -%}
