{% if description %}{{ description | renderContent('md') | safe }}{% endif %}

{% if documentation.examples | length %}
	<details>
		<summary><em>Examples</em></summary>
		{% for example in documentation.examples %}
			{% renderFile "./_includes/example.njk", example %}
		{% endfor %}
	</details>
{% endif %}

{% if default or default == false or default == 0 %}
	<p><em>Defaults to:</em> <code>{{ default }}</code></p>
{% endif %}

{% set maxLength = 10 %}
{% set enumLength = maxLength if enum.length > maxLength else enum.length %}
{% if enumLength %}
	<p>
		<em>Allowed values:</em>
		{% for i in range(0, enumLength) %}
			<code>{{ enum[i] }}</code>
		{% endfor %}

		{% set enumMore = enum.length - enumLength %}
		{% if enumMore %}and {{ enumMore }} more.{% endif %}
	</p>
{% endif %}
