{%- if url and title -%}
	<a href="{{ url }}">{{ title }}</a>
{%- elif type == "array" -%}
	{%- if url and page.url != url -%}
		<a href="{{ url }}">Array</a>
	{%- else -%}
		Array
	{%- endif -%}
	{%- if items | length -%}
		{%- set join = joiner(" | ") -%}
		<span style="opacity: 0.5;">&lt;</span>
		{%- for itemRef in items -%}
			{{- join() -}}
			{%- set itemDoc = itemRef | docFromRef -%}
			{%- renderFile "./_includes/doc-type-nested.njk", itemDoc -%}
		{%- endfor -%}
		<span style="opacity: 0.5;">&gt;</span>
	{%- endif -%}
{%- elif type == "object" -%}
	{%- if url and page.url != url -%}
		<a href="{{ url }}">Object</a>
	{%- else -%}
		Object
	{%- endif -%}
	{%- if additionalProperties.length == 1 -%}
		{%- set additionalPropDoc = additionalProperties[0] | docFromRef -%}
		<span style="opacity: 0.5;">&lt;</span>
		{%- renderFile "./_includes/doc-type-nested.njk", additionalPropDoc -%}
		<span style="opacity: 0.5;">&gt;</span>
	{%- endif -%}
{%- elif type == "string" -%}
	{%- if const -%}
		{%- if url and page.url != url -%}
			<a href="{{ url }}">"{{ const }}"</a>
		{%- else -%}
			"{{ const }}"
		{%- endif -%}
	{%- else -%}
		{%- if url and page.url != url -%}
			<a href="{{ url }}">{{ type }}</a>
		{%- else -%}
			{{ type }}
		{%- endif -%}
	{%- endif -%}
{%- elif type == "number" or type == "integer" -%}
	{%- if const or const == 0 -%}
		{%- if url and page.url != url -%}
			<a href="{{ url }}">{{ const }}</a>
		{%- else -%}
			{{ const }}
		{%- endif -%}
	{%- else -%}
		{%- if url and page.url != url -%}
			<a href="{{ url }}">{{ type }}</a>
		{%- else -%}
			{{ type }}
		{%- endif -%}
	{%- endif -%}
{%- elif type == "boolean" -%}
	{%- if const or const == false -%}
		{%- if url and page.url != url -%}
			<a href="{{ url }}">{{ const }}</a>
		{%- else -%}
			{{ const }}
		{%- endif -%}
	{%- else -%}
		{%- if url and page.url != url -%}
			<a href="{{ url }}">{{ type }}</a>
		{%- else -%}
			{{ type }}
		{%- endif -%}
	{%- endif -%}
{%- elif anyOf | length -%}
	{%- set join = joiner(" | ") -%}
	{%- for anyOfRef in anyOf -%}
		{{- join() -}}
		{%- set anyOfDoc = anyOfRef | docFromRef -%}
		{%- renderFile "./_includes/doc-type-nested.njk", anyOfDoc -%}
	{%- endfor -%}
{%- else -%}
	{%- if url and page.url != url -%}
		<a href="{{ url }}">{{ type | default(title) | default('unknown') }}</a>
	{%- else -%}
		{{ type | default(title) | default('unknown') }}
	{%- endif -%}
{%- endif -%}
