{% set hasActiveParent = doc.gid | isGidInside(propDoc.gid) %}
{% set isActive = propDoc.url == doc.url %}

<li>
	{% if isActive %}
		{%- if propDoc.title -%}
			{{ propDoc.title }}
		{%- else -%}
			<code>{{ propDoc.key }}</code>
		{%- endif -%}
	{% elif propDoc.url %}
		<a href="{{ propDoc.url }}">
			{%- if propDoc.title -%}
				{{ propDoc.title }}
			{%- else -%}
				<code>{{ propDoc.key }}</code>
			{%- endif -%}
		</a>
	{% endif %}

	{% if propDoc.url and (isActive or hasActiveParent) %}
		{% if propDoc.type == "object" %}
			{% include "nav/object.njk" %}
		{% elif propDoc.anyOf | length %}
			{% include "nav/any-of.njk" %}
		{% endif %}
	{% endif %}
</li>
