<nav>
	{% if doc.parent %}
		<ul>
			{% set parentGids = doc | parentGidsFromDoc %}
			{% for parentGid in parentGids %}
				{% set parentDoc = parentGid | docFromGid %}
				<li>
					<span class="icon">&uarr;</span>
					<a href="{{ parentDoc.url }}">{{ parentDoc.title | default(parentDoc.key, true) }}</a>
				</li>
			{% endfor %}
			<li>
				<span class="icon"></span>
				{{ doc.title | default(doc.key, true) }}
			</li>
		</ul>

		<hr>
	{% endif %}

	<ul>
		{% for propDoc in docs %}
			{% if propDoc.documentation.show_in_navigation %}{% include "nav-item.njk" %}{% endif %}
		{% endfor %}
	</ul>
</nav>
