<nav>
	{% if doc.parent %}
		<ul>
			{% set parentGids = doc | parentGidsFromDoc %}
			{% for parentGid in parentGids %}
				{% set parentDoc = parentGid | docFromGid %}
				<li>
					<span class="icon">&uarr;</span>
					{% renderFile "./_includes/doc-link.njk", parentDoc %}
				</li>
			{% endfor %}
			<li>
				<span class="icon"></span>
				{% renderFile "./_includes/doc-label.njk", doc %}
			</li>
		</ul>

		<hr>
	{% endif %}

	<ul>
		{% for propDoc in docs %}
			{% if propDoc.documentation.show_in_navigation %}{% include "nav-item.njk" %}{% endif %}
		{% endfor %}
	</ul>
</nav>
